.menu0 {
  height: 30px;
}

form {
  display: grid;
  gap: 1em;
  @media screen and (min-width: 850px) {
    grid-template-columns: 1fr 1fr;
  }

  & > * {
    grid-column: 1 / -1;
  }

  h2 {
    margin: 0;
    line-height: 1;
  }

  .radio {
    display: flex;
    flex-wrap: wrap;
  }

  .error {
    margin-top: 6px;
    color: #a00;
    font-weight: bold;
  }
  label:not(:has(input)) {
    font-weight: 600;
  }

  .info {
    margin-top: 6px;
  }
}

.half-width {
  grid-column: auto / auto;
}

label {
  display: block;
  margin-bottom: 4px;
}

input:not([type="checkbox"],[type="radio"]) {
  width: min(300px, calc(100dvw - 120px));
}

textarea {
  width: 100%;
  min-height: 80px;
  resize: vertical;
}

.summary-value {
  white-space: pre;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
